<!-- partials -->
<div class="buttons">

  <form action="/delete/<%= object %>" method="post">
    <input type='hidden' name='_method' value='DELETE'/>
    <input type="submit" value="Delete Message"/>
  </form>

</div>
