<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style/style.css") %>">
</head>
<body>
  <div align="center">
    <h1>Please edit your message</h1>
    <br/>
    <p><b><i>This is your message: "</i></b><%= @message.content %>"</p>
    <br/>
    <%= erb(:textbox, :locals => { :object => ("temp_edit/"+@message.id.to_s), :content => @message.content}) %><br/>
  <br/>
  <%= erb(:homepagebutton) %> <br/>
  <br/>
</div>
</body>
</html>
