<h1>Welcome to our message app!</h1>
<form action="/temp" method="post">
<input type="text" placeholder="type message here" name="message">
<input type="submit" value="Submit">
</form>

<h1>Messages</h1>
<% @messages.reverse.each do |message| %>
  <div>
    <%=  message.show %> | <%= message.timestamp %>
  </div>
<% end %>
