<!-- partials -->
<form action="/<%= object %>" method="post">
  <textarea type="text" placeholder="Please type your message here âœðŸ¼" rows="10" cols="60" size="100" name="message">
    <%= content %></textarea><br/>
    <br/>
    <input type="text" placeholder="Please type your name here âœðŸ¼" size="35" name="name"><br/>
    <br/>
    <input type="submit" value="Submit">
  </form>
